############################ CLOCK INPUT SI5351 100MHz ########################
NET "CLK_IN" CLOCK_DEDICATED_ROUTE = TRUE;
NET "CLK_IN" LOC = N11 | IOSTANDARD = LVCMOS33;  

NET "CLK_IN" TNM_NET = "CLK_IN";
TIMESPEC "TS_CLK_IN" = PERIOD "clk_in" 10 ns HIGH 50%;# 100 MHz clock

############################### Microcontroller ###############################
NET "STM32_SCLK" LOC = E12 | IOSTANDARD = LVCMOS33;
NET "STM32_MOSI" LOC = H13 | IOSTANDARD = LVCMOS33;
NET "STM32_MISO" LOC = G14 | IOSTANDARD = LVCMOS33;
NET "STM32_CS_ADAR_1" LOC = F14 | IOSTANDARD = LVCMOS33;
NET "STM32_CS_ADAR_2" LOC = H16 | IOSTANDARD = LVCMOS33;
NET "STM32_CS_ADAR_3" LOC = G16 | IOSTANDARD = LVCMOS33;
NET "STM32_CS_ADAR_4" LOC = J15 | IOSTANDARD = LVCMOS33;

NET "DIG_0" LOC = F13 | IOSTANDARD = LVCMOS33;
NET "DIG_1" LOC = E16 | IOSTANDARD = LVCMOS33;
NET "DIG_2" LOC = D16 | IOSTANDARD = LVCMOS33;
NET "DIG_3" LOC = F15 | IOSTANDARD = LVCMOS33;

#NET "DIG_4" LOC = E15 | IOSTANDARD = LVCMOS33;
#NET "DIG_5" LOC = H11 | IOSTANDARD = LVCMOS33;
#NET "DIG_6" LOC = G12 | IOSTANDARD = LVCMOS33;
#NET "DIG_7" LOC = H12 | IOSTANDARD = LVCMOS33;

############################### DAC AD9708AR ##################################
NET "DAC_DATA[0]" LOC = A14 | IOSTANDARD = LVCMOS33;
NET "DAC_DATA[1]" LOC = A13 | IOSTANDARD = LVCMOS33;
NET "DAC_DATA[2]" LOC = A12 | IOSTANDARD = LVCMOS33;
NET "DAC_DATA[3]" LOC = B11 | IOSTANDARD = LVCMOS33;
NET "DAC_DATA[4]" LOC = B10 | IOSTANDARD = LVCMOS33;
NET "DAC_DATA[5]" LOC = A10 | IOSTANDARD = LVCMOS33;
NET "DAC_DATA[6]" LOC = A9 | IOSTANDARD = LVCMOS33;
NET "DAC_DATA[7]" LOC = A8 | IOSTANDARD = LVCMOS33;

NET "DAC_SLEEP" LOC = A15 | IOSTANDARD = LVCMOS33;
NET "DAC_CLOCK" LOC = C13 | IOSTANDARD = LVCMOS33 | DRIVE = 16 | SLEW = FAST;

############################### MIXER LTC5552 ##################################
NET "MIX_TX_EN" LOC = C11 | IOSTANDARD = LVCMOS33;
NET "MIX_RX_EN" LOC = M6 | IOSTANDARD = LVCMOS33;

############################### ADC MAX1449 ##################################
NET "ADC_DATA[0]" LOC = T8 | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[1]" LOC = T9 | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[2]" LOC = T10 | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[3]" LOC = R11 | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[4]" LOC = T12 | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[5]" LOC = T13 | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[6]" LOC = T14 | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[7]" LOC = T15 | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[8]" LOC = R15 | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[9]" LOC = R16 | IOSTANDARD = LVCMOS33;
NET "ADC_PD" LOC = M16 | IOSTANDARD = LVCMOS33;
NET "ADC_OE" LOC = N16 | IOSTANDARD = LVCMOS33;
NET "ADC_CLOCK" LOC = P14 | IOSTANDARD = LVCMOS33 | DRIVE = 16 | SLEW = FAST;

############################# RF SWITCH M3SWA2-34DR+ ##############################
NET "M3S_VCTRL" LOC = P8 | IOSTANDARD = LVCMOS33;

############################### ADAR1000_1_2_3_4 ##################################
NET "SPI_SCLK_1V8" LOC = F5 | IOSTANDARD = LVCMOS18 | DRIVE = 16 | SLEW = FAST;
NET "SPI_MOSI_1V8" LOC = B5 | IOSTANDARD = LVCMOS18;
NET "SPI_MISO_1V8" LOC = A5 | IOSTANDARD = LVCMOS18;
NET "CS_ADAR_1V8_1" LOC = E6 | IOSTANDARD = LVCMOS18;
NET "CS_ADAR_1V8_2" LOC = B7 | IOSTANDARD = LVCMOS18;
NET "CS_ADAR_1V8_3" LOC = A7 | IOSTANDARD = LVCMOS18;
NET "CS_ADAR_1V8_4" LOC = B6 | IOSTANDARD = LVCMOS18;

NET "ADAR_TR1" LOC = A4 | IOSTANDARD = LVCMOS18;
NET "ADAR_TR2" LOC = B4 | IOSTANDARD = LVCMOS18;
NET "ADAR_TR3" LOC = A3 | IOSTANDARD = LVCMOS18;
NET "ADAR_TR4" LOC = C7 | IOSTANDARD = LVCMOS18;

NET "ADAR_TX_LOAD_1" LOC = C6 | IOSTANDARD = LVCMOS18; 
NET "ADAR_TX_LOAD_2" LOC = G1 | IOSTANDARD = LVCMOS18; 
NET "ADAR_TX_LOAD_3" LOC = G4 | IOSTANDARD = LVCMOS18; 
NET "ADAR_TX_LOAD_4" LOC = E1 | IOSTANDARD = LVCMOS18; 

NET "ADAR_RX_LOAD_1" LOC = D6 | IOSTANDARD = LVCMOS18;
NET "ADAR_RX_LOAD_2" LOC = G2 | IOSTANDARD = LVCMOS18;
NET "ADAR_RX_LOAD_3" LOC = G5 | IOSTANDARD = LVCMOS18;
NET "ADAR_RX_LOAD_4" LOC = F2 | IOSTANDARD = LVCMOS18; 

############################### FT2232HQ ##################################
NET "AD_Bus[0]" LOC = N1 | IOSTANDARD = LVCMOS33;
NET "AD_Bus[1]" LOC = P1 | IOSTANDARD = LVCMOS33;
NET "AD_Bus[2]" LOC = R1 | IOSTANDARD = LVCMOS33;
NET "AD_Bus[3]" LOC = N2 | IOSTANDARD = LVCMOS33;
NET "AD_Bus[4]" LOC = R2 | IOSTANDARD = LVCMOS33;
NET "AD_Bus[5]" LOC = T2 | IOSTANDARD = LVCMOS33;
NET "AD_Bus[6]" LOC = N3 | IOSTANDARD = LVCMOS33;
NET "AD_Bus[7]" LOC = P3 | IOSTANDARD = LVCMOS33;

NET "FT_OE" LOC = L5 | IOSTANDARD = LVCMOS33;
NET "FT_RD" LOC = L4 | IOSTANDARD = LVCMOS33;
NET "FT_WR" LOC = P4 | IOSTANDARD = LVCMOS33;
NET "FT_TXE" LOC = N4 | IOSTANDARD = LVCMOS33;
#NET "FT_RXF" LOC = T3 | IOSTANDARD = LVCMOS33;
#NET "FT_SIWA" LOC = P5 | IOSTANDARD = LVCMOS33;


NET "FT_CLKOUT" CLOCK_DEDICATED_ROUTE = TRUE;
NET "FT_CLKOUT" LOC = T4 | IOSTANDARD = LVCMOS33;  

NET "FT_CLKOUT" TNM_NET = "FT_CLKOUT";
TIMESPEC "TS_FT_CLKOUT" = PERIOD "FT_CLKOUT" 16.67 ns HIGH 50%;# 60 MHz clock

